<div style="background-color: rgba(122, 15, 99, 0.753); height:740px">
    <div style="display: flex; justify-content: space-between;">
        <app-c1 [textString] = "textString"></app-c1>
        <app-c2 [textString] = "textString"></app-c2>
    </div>
    <br>
    <br>
        <div style="display: flex; justify-content: center; position: relative; top : 200px">
            <input type="text" [(ngModel)] = "textString"/>
        </div>
    <br>
    <br>
    <div style="position: relative; top : 395px ; display: flex; justify-content: space-between;">
        <app-c3 [textString] = "textString"></app-c3>
        <app-c4 [textString] = "textString"></app-c4>
    </div>
</div>